.divInfo>div>label{
  text-align: left;
}

.divInfo>div>p{
  text-align: center;
  background-color: #f0d4d7;
  border-radius: 5px;
}

.tableHeader, .tableRow{
  border-radius: 5px;
  text-align: center;
}

.tableRow{
  margin-top: 1rem;
  background-color: #f0d4d7;
  padding: 5px 5px 10px 5px;
}

.petList{
  min-height: 30%;
  max-height: 50%;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.App{
  background-color: #6722a7f8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  border-radius: 7px;
  box-shadow: 2px 4px 10px #222222;
}

.title{
  color: #ebe6ea;
  font-size: 4.8rem;
  font-family: 'Pacifico', cursive;
}

.subtitle{
  color: #f5d1f2;
  font-size: 1.5rem;
}

.ReactModal__Content{
  background-color: #f0d4d7 !important;
  max-height: 80% !important;
  max-width: 30%;
  margin-left: 35%;
}

#modalDelete{
  max-height: 25% !important;
}

.ReactModal__Overlay{
  background-color: #b6808081 !important;
}

body{
  background-color: #ef8b8b;
  font-family: 'Lato';
}