.divInfo>div>label{
  text-align: left;
}

.divInfo>div>p{
  text-align: center;
  background-color: #f0d4d7;
  border-radius: 5px;
}

.tableHeader, .tableRow{
  border-radius: 5px;
  text-align: center;
}

.petList{
  min-height: 50%;
  max-height: 50%;
  overflow-x: auto;
}

.App{
  background-color: #6722a7f8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  border-radius: 7px;
  box-shadow: 2px 2px 7px #222222;
}

body{
  background-color: #ef8b8b;
}

.title{
  color: #e9d0e7;
  font-size: 4rem;
}